@charset "UTF-8";

body {
            background-color: lightsteelblue;font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
         }
         h1 {
        color:maroon;
        background-color: lightblue;
         }
         h2{
            color: rgb(48, 14, 199);
         }
         p {
            text-align: justify;
         }